@font-face {
    font-family: PP mori;
    src: url(Assets/ppmori.ttf);
}

@font-face {
    font-family: Font1;
    src: url(Assets/kesslersuperdisplayweb-regular.ttf);
}

@font-face {
    font-family: Font2;
    src: url(Assets/FraktionMono-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: PP mori;
    color: #fff;
}

html, body {
    height: 100%;
    width: 100%;
}
.cursor{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: fixed;
    background-color: #EDBFFF;
    z-index: 8;
    transition: background-image ease 0.5s;
    background-position: center;
    background-size:cover ;
    mix-blend-mode: difference;
}
.main{
    background-color: #0F0D0D;
    cursor: none;
}

.page1{
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 9;
    padding-top: 12vw;
}


#nav{
    height: 55px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    position: fixed;
    mix-blend-mode: difference;
    z-index:102;
}
#nav img{
    height: 27px;
}
#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/* WORK */

#purple {
    overflow-x: auto;
    white-space: nowrap;
}

#purple::-webkit-scrollbar {
    display: none;
}

.con {
    justify-content: center;
    margin-top: 20%;
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 4.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#purple h1 {
    font-size: 9vw;
    /* background-color: lightblue; */
    display: inline-block;
}

#gola {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: inline-block;
    background-color: black;
    margin: 1vw 2vw;
}


/*  */
#purple{
    height: 100vh;
    width: 100vw;
    top: 0;
    position: fixed;
    z-index: 100;
    background-color: #EDBFFF;
    opacity: 0;
    display: none;
    align-items: center;
    justify-content: center;
    transition: opacity ease 1s;
    
}

#purple.active {
    display: block;
}

/* WORK  */

#work {
    overflow-x: auto;
    white-space: nowrap;
}

#work::-webkit-scrollbar {
    display: none;
}

.con-1 {
    justify-content: center;
    margin-top: 20%;
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 4.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#work h1 {
    font-size: 9vw;
    /* background-color: lightblue; */
    display: inline-block;
}

#hola {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: inline-block;
    background-color: black;
    margin: 1vw 2vw;
}


/*  */
#work{
    height: 100vh;
    width: 100vw;
    top: 0;
    position: fixed;
    z-index: 100;
    background-color: #EDBFFF;
    opacity: 0;
    display: none;
    align-items: center;
    justify-content: center;
    transition: opacity ease 1s;
    
}

#work.active {
    display: block;
}

/* Studio  */

#studio {
    overflow-x: auto;
    white-space: nowrap;
}

#studio::-webkit-scrollbar {
    display: none;
}

.con-2 {
    justify-content: center;
    margin-top: 20%;
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 4.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#studio h1 {
    font-size: 9vw;
    /* background-color: lightblue; */
    display: inline-block;
}

#jola {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: inline-block;
    background-color: black;
    margin: 1vw 2vw;
}


/*  */
#studio{
    height: 100vh;
    width: 100vw;
    top: 0;
    position: fixed;
    z-index: 100;
    background-color: #EDBFFF;
    opacity: 0;
    display: none;
    align-items: center;
    justify-content: center;
    transition: opacity ease 1s;
    
}

#studio.active {
    display: block;
}
/* .marquee:hover {
    -webkit-text-stroke: 1.5px #fff;
    text-stroke: 1.5px #fff;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    color: transparent;
    transition: all 0.5s ease;
    -webkit-font-smoothing: antialiased;

}

.marquee__group {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    min-width: 100%;
    animation: scroll 10s linear infinite reverse;
}

.marquee__group span {
    color: white;
    font-size: 5vw;
    font-weight: 800;
    white-space: nowrap;
    font-family: 'Syne', sans-serif !important;

} */

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% - 2rem));
    }
}

/* @media only screen and (min-width: 360px) {
    .marquee__group span {
        font-size: 6.5vw;
    }
} */

/*  */
#nav #circle{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: #fff;
}
#nav h4{
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}
#nav h4:nth-child(1){
    border-bottom: 1.5px solid #fff;
}

.page1 h1{
    font-size: 8vw;
    font-weight: 300;
    font-family: PP mori;

    margin-left: 6vw;
    transform-origin: left;
}
.page1 h2{
    font-size: 8vw;
    font-weight: 300;
    transform-origin: left;

    margin-left: 26vw;
}

.page1 video{
    width: 60%;
    margin-top: 10vw;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
}

.page2{
    min-height: 80vh;
    width: 100%;
    padding: 100px 5vw;
    border-bottom: 2px solid #6c6c6c;
    position: relative;
    z-index: 9;
}

.page2 h1{
    font-size:7vw;
    font-weight: 500;
    color: #111;

}
.page2-container{
    height: 60vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 5vw; */
}
.page2-left{
    /* background-color: blue; */
    width: 40%;
}
.page2-right{
    /* background-color: blue; */
    width: 24%;
}
.page2-left h2{
    font-size: 4vw;
    font-weight: 300;
    color: #111;
    line-height: 4vw;
}
.page2-right p{
    font-size: 28px;
    color: #111;
}
.page2-right button{
    width: 100%;
    border-radius: 50px;
    border: none;
    padding: 4px 0;
    background-color: #EDBFFF;
    color: #111;
    margin-top: 20px;
}

.page3{
    min-height: 100vh;
    width: 100%;
    padding-top: 100px;
    position: relative;
    z-index: 9;
}

/* .page3 h1{
    font-size: 6.8vw;
    font-weight: 300;
    color: #111;
    margin-left: 100px;
}
.page3-part1{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}
.page3-part1 img{
    height: 400px;
    margin-top: 160px;
}
.page3-part1 video{
    height: 400px;
    margin-top: 40px;
} */

#main-1{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.left{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100%;
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 120%;
}

.right{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100%;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    padding: 0.5vw 1.2vw;
    border: 1px solid #333;
    border-radius: 50px;
    font-size: 0.5vw;
    font-family: Font2;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)1s;
}

#btn-lft{
    color: #0F0D0D;
}

#btn-rght{
    color: #0F0D0D;
}

.t-center{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 50%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)2s;
}

.t-center h1{
    color: #0F0D0D;
}

.b-center{
    width: 100%;
    height: 50%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)2s;
}

.b-center h1{
    color: #0F0D0D;
}

.center h1{
    line-height: 15vh;
    font-size: 10vw;
    font-weight: 400;
    font-family: Font1;
    text-align: center;
}

.c-center-one{
    position: relative;
    transform-origin: center;
    width: 100%;
    height: 0vh;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.c-center-two{
    width: 100%;
    height: 0vh;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)1s;
}


.img-all{
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)2s;
    background-size: cover;
    background-position: center;
}

.img-one{
    bottom: 60%;
    right: 50%;
    width: 25vw;
    height: 25vh;
    filter: blur(10px);
    transition: all cubic-bezier(0.19, 1, 0.22, 1)2s;
}

.img-two{
    top: 55%;
    left: 50%;
    width: 15vw;
    height: 17vh;
    filter: blur(5px);
    transition: all cubic-bezier(0.19, 1, 0.22, 1)2s;
}


.img-three{
    top: 50%;
    left: 37%;
    width: 10vw;
    height: 12vh;
    background-image: url(https://images.unsplash.com/photo-1683446297911-f4a1fa8e62dd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2564&q=80);
    filter: blur(20px);
    transition: all cubic-bezier(0.19, 1, 0.22, 1)2s;
}


.img-four{
    top: 40%;
    left: 55%;
    width: 7vw;
    height: 7vh;
    background-image: url(https://images.unsplash.com/photo-1683446297911-f4a1fa8e62dd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2564&q=80);
    filter: blur(20px);
}

#one{
    background-image: url(https://images.unsplash.com/photo-1682687218608-5e2522b04673?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2575&q=80);
}

#two{
    background-image: url(https://images.unsplash.com/photo-1683446297911-f4a1fa8e62dd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2564&q=80);
}

#three{
    background-image: url(https://images.unsplash.com/photo-1683573254548-ebb7b94d7def?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1353&q=80);
}

#four{
    background-image: url(https://images.unsplash.com/photo-1683053243792-28e9d984c25a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1160&q=80);
}

#five{
    background-image: url(https://images.unsplash.com/photo-1682709846996-f3c895743d37?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1932&q=80);
}

#six{
    background-image: url(https://images.unsplash.com/photo-1682794496831-81a52c8e9136?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1932&q=80);
}

#seven{
    background-image: url(https://images.unsplash.com/photo-1682314803906-d2078f031d82?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1932&q=80);
}

#eight{
    background-image: url(https://images.unsplash.com/photo-1682200736161-77f04daf9a59?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1744&q=80);
}


.page4{
    min-height: 100vh;
    width: 100%;
    z-index: 9;
    position: relative;
    padding: 170px 100px;
}
.elem{
    /* background-color: salmon; */
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.elem img{
    position: absolute;
    opacity: 0;
    transition: all ease-out 0.5s;
    transform: translateY(10%) rotate(2deg);
}
.elem img:nth-child(1){
    left: 2%;
}
.elem img:nth-child(3){
    right: 5%;
}
.text-div{
    height: 16vh;
    position: relative;
    z-index: 9;
    overflow: hidden;
}
.elem h1{
    font-size: 7.5vw;
    font-weight: 600;
    transition: all ease-out 0.5s;
}

.elem:hover h1{
    transform: translateY(-100%);
    color: #EDBFFF;
}
.elem:hover img{
    opacity: 1;
    transform: translateY(0%) rotate(0deg);

}


.page5{
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 9;
    padding: 140px 100px;
}
.page5 h2{
    font-size: 4vw;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 50px;
}
.box{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 20px;
    border-top: 2px solid #dadada;
}

.box:nth-last-child(1){
    border-bottom: 2px solid #dadada;

}


footer{
    height: 90vh;
    width: 100%;
    background-color: #EDBFFF;
}

@keyframes move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    width: 30%;
    border-left: 1px solid #aeadad;
    padding: 0 2vw;
}

#page5 {
    height: 100vh;
    width: 100%;
    /* background-color: #EFEAE3; */
}

#footer {
    position: fixed;
    height: 105vh;
    width: 100%;
    background-color: white;
    z-index: 9;
    bottom: 0;
    display: flex;
    /* align-items: flex-end; */
    justify-content: flex-end;
    flex-direction: column;
    padding: 1vw 3vw;
    
}

#footer h1 {
    font-size: 15vw;
    font-family: PP Mori;
    justify-content: center;
    align-items: center;
    margin-left: 22%;
    display: inline-block;
    color: black;
    /* overflow: hidden; */
}

#footer-div {
    height: 23vh;
    width: 100%;
    background-color:#EDBFFF;
    font-family: PP Mori;
    justify-content: center;
    align-items: center;
    display: inline-block;
    margin-bottom: 20%;
}

#footer-bottom {
    border-top: 1px solid #dadada;
    height: 10vh;
    width: 100%;
}

#full-scr {
    height: 100vh;
    width: 100%;
    background-color: #00000070;
    position: fixed;
    z-index: 99;
    top: -100%;
    transition: all ease 0.5s;
}

#full-div1 {
    height: 50%;
    width: 100%;
    background-color: #EFEAE3;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}